<!--start-film-all-->
<div class="container-fluid">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail thumbnail-body-film">
          <a href="#">
            <div class="panel-heading">
              <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
              <a href="#"><img class="img-responsive" src="/assets/bootstrap/img/bay.jpg" alt=""></a>
            </div>
            <div class="panel-body">
              <a href="#"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
            </div>
          </a>
          <a href="#">
            <div class="panel-footer">
              <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
              <span class="pull-left">رسول صیدی پیری</span>
              <div class="caption">
                <a>48000تومان</a>
                <span><i class="fas fa-clock-o"></i>12:24</span>
                <span><i class="fas fa-download"></i>12344</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail thumbnail-body-film">
          <a href="#">
            <div class="panel-heading">
              <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
              <a href="#"><img class="img-responsive" src="/assets/bootstrap/img/bay.png" alt=""></a>
            </div>
            <div class="panel-body">
              <a href="#"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
            </div>
          </a>
          <a href="#">
            <div class="panel-footer">
              <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
              <span class="pull-left">رسول صیدی پیری</span>
              <div class="caption">
                <a>48000تومان</a>
                <span><i class="fas fa-clock-o"></i>12:24</span>
                <span><i class="fas fa-download"></i>12344</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail thumbnail-body-film">
          <a href="#">
            <div class="panel-heading">
              <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
              <a href="#"><img class="img-responsive" src="/assets/bootstrap/img/bay.png" alt=""></a>
            </div>
            <div class="panel-body">
              <a href="#"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
            </div>
          </a>
          <a href="#">
            <div class="panel-footer">
              <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
              <span class="pull-left">رسول صیدی پیری</span>
              <div class="caption">
                <a>48000تومان</a>
                <span><i class="fas fa-clock-o"></i>12:24</span>
                <span><i class="fas fa-download"></i>12344</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail thumbnail-body-film">
          <a href="#">
            <div class="panel-heading">
              <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
              <a href="#"><img class="img-responsive" src="/assets/bootstrap/img/bay.png" alt=""></a>
            </div>
            <div class="panel-body">
              <a href="#"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
            </div>
          </a>
          <a href="#">
            <div class="panel-footer">
              <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
              <span class="pull-left">رسول صیدی پیری</span>
              <div class="caption">
                <a>48000تومان</a>
                <span><i class="fas fa-clock-o"></i>12:24</span>
                <span><i class="fas fa-download"></i>12344</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail thumbnail-body-film">
          <a href="#">
            <div class="panel-heading">
              <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
              <a href="#"><img class="img-responsive" src="/assets/bootstrap/img/bay.png" alt=""></a>
            </div>
            <div class="panel-body">
              <a href="#"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
            </div>
          </a>
          <a href="#">
            <div class="panel-footer">
              <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
              <span class="pull-left">رسول صیدی پیری</span>
              <div class="caption">
                <a>48000تومان</a>
                <span><i class="fas fa-clock-o"></i>12:24</span>
                <span><i class="fas fa-download"></i>12344</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail thumbnail-body-film">
          <a href="#">
            <div class="panel-heading">
              <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
              <a href="#"><img class="img-responsive" src="/assets/bootstrap/img/bay.png" alt=""></a>
            </div>
            <div class="panel-body">
              <a href="#"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
            </div>
          </a>
          <a href="#">
            <div class="panel-footer">
              <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
              <span class="pull-left">رسول صیدی پیری</span>
              <div class="caption">
                <a>48000تومان</a>
                <span><i class="fas fa-clock-o"></i>12:24</span>
                <span><i class="fas fa-download"></i>12344</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail thumbnail-body-film">
          <a href="#">
            <div class="panel-heading">
              <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
              <a href="#"><img class="img-responsive" src="/assets/bootstrap/img/bay.png" alt=""></a>
            </div>
            <div class="panel-body">
              <a href="#"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
            </div>
          </a>
          <a href="#">
            <div class="panel-footer">
              <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
              <span class="pull-left">رسول صیدی پیری</span>
              <div class="caption">
                <a>48000تومان</a>
                <span><i class="fas fa-clock-o"></i>12:24</span>
                <span><i class="fas fa-download"></i>12344</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail thumbnail-body-film">
          <a href="#">
            <div class="panel-heading">
              <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
              <a href="#"><img class="img-responsive" src="/assets/bootstrap/img/bay.png" alt=""></a>
            </div>
            <div class="panel-body">
              <a href="#"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
            </div>
          </a>
          <a href="#">
            <div class="panel-footer">
              <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
              <span class="pull-left">رسول صیدی پیری</span>
              <div class="caption">
                <a>48000تومان</a>
                <span><i class="fas fa-clock-o"></i>12:24</span>
                <span><i class="fas fa-download"></i>12344</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-4">
        <nav>
          <ul class="pagination pagination-sm">
            <li>
              <a href="#" name="previous">
                <span>&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li>
              <a href="#" name="next">
                <span>&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--end-film-all-->
