<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="../../../assets/bootstrap/img/header.png" alt="first slide" >
    <div class="carousel-caption d-none d-md-block">
      <h3>آکادمی همراه دانش</h3>
      <p>با</p>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/bootstrap/img/header.png" alt="first slide" >
    <div class="carousel-caption d-none d-md-block">
      <h3>آکادمی همراه دانش</h3>
      <p>با</p>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/bootstrap/img/header.png" alt="first slide" >
    <div class="carousel-caption d-none d-md-block">
      <h3>آکادمی همراه دانش</h3>
      <p>با</p>
    </div>
  </ng-template>
</owl-carousel-o>
