<!--start-article-->
<div class="container">
  <div class="row row-article">
    <div class="caption">
      <span>مقالات آموزشی</span>
      <a class="pull-left" routerLink="/Courses/articles">همه<i class="fas fa-angle-left"></i></a>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-body " routerLink="/detailArticle">
           <div class="panel-heading">
             <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
           </div>
           <div class="panel-body">
             <a routerLink="/detailArticle"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
           </div>
        <div class="panel-footer">
          <i class="fas fa-thumbs-up pull-right"><span style="font-family:IRANSans_Light;margin-left: 5px;">12</span></i>
          <a routerLink="/detailArticle"><span class="pull-left">ادامه مطالب</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-body" routerLink="/detailArticle">
           <div class="panel-heading">
             <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
           </div>
           <div class="panel-body">
             <a routerLink="/detailArticle"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
           </div>
        <div class="panel-footer">
          <i class="fas fa-thumbs-up pull-right"><span style="font-family:IRANSans_Light;margin-left: 5px;">12</span></i>
          <a routerLink="/detailArticle"><span class="pull-left">ادامه مطالب</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-body" routerLink="/detailArticle">
           <div class="panel-heading">
             <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
           </div>
           <div class="panel-body">
             <a routerLink="/detailArticle"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
           </div>
        <div class="panel-footer">
          <i class="fas fa-thumbs-up pull-right"><span style="font-family:IRANSans_Light;margin-left: 5px;">12</span></i>
          <a routerLink="/detailArticle"><span class="pull-left">ادامه مطالب</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-body" routerLink="/detailArticle">
           <div class="panel-heading">
             <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
           </div>
           <div class="panel-body">
             <a routerLink="/detailArticle"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
           </div>
        <div class="panel-footer">
          <i class="fas fa-thumbs-up pull-right"><span style="font-family:IRANSans_Light;margin-left: 5px;">12</span></i>
          <a routerLink="/detailArticle"><span class="pull-left">ادامه مطالب</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-article-->
